Django==5.1.2
psycopg2==2.9.10
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-modeltranslation==0.19.10
django-cors-headers==4.6.0
django-axes==7.0.0
django-ckeditor==6.7.1
django-ckeditor-5==0.2.15
django-filter==24.3
django-registration==3.4
django_bleach==3.1.0
django-storages==1.14.4
boto3==1.35.51
Pillow==11.0.0
django-allauth==64.1.0
dj-rest-auth==6.0.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
django-heroku==0.3.1
requests==2.32.3
