{% extends 'users/base_user_form.html' %} {% load i18n %} {% block user_title %}
{% if user.is_authenticated %} {% trans "Thanks for registering" %} {% else %}
{% trans "Welcome to the OVON platform" %} {% endif %} {% endblock %} 
{% block user_description_container %} {% if user.is_authenticated %}
<p class="pb-4 mb-2">
  {% trans "Now you are registered, you can access to all the self-assessment tool." %}
</p>
{% else %} {% endif %} {% endblock %} {% block user_content %} 
{% if user.is_authenticated %} {% else %}
<nav class="mt-3 mb-4 live-interaction-tabs nav nav-tabs">
  <a href="/login" class="nav-item active">
    <span class="nav-link"> {% trans "Sign in" %} </span>
  </a>
  <a href="/" class="nav-item">
    <span class="nav-link"> {% trans "Register" %} </span>
  </a>
</nav>
{{ block.super }} {% endif %} {% endblock %}
